.toggle {
  width: 40px;
  display: inline-block;
  background-color: #000;
  border-radius: 10px;
  padding: 2px;
  height: 20px;
  box-shadow: 0px 10px 30px 0px #bbb;
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    width: 70%;
    height: 30px;
    border-radius: 30px;
  }
  .toggle-slider {
    background-color: white;
    width: 15px;
    border-radius: 10px;
    margin-left: 20px;
    -webkit-transition: margin 0.5s;
    transition: margin 0.5s;
    display: block;
    height: 15px;
    @media only screen and (max-width: 768px) and (min-width: 481px) {
      width: 20px;
      border-radius: 15px;
      height: 20px;
      margin-left: 30px;
      margin-top: 3px;
    }
    &.selected {
      margin-left: 2px;
      background-color: lightgreen;
      @media only screen and (max-width: 768px) and (min-width: 481px) {
        margin-left: 5px;
      }
    }
  }
}