.shades {
  h3.shadesHeader {
    font-family: sans-serif;
    font-size: 12px;
    color: #B378FF;
    margin: 20px 0 10px;
    text-transform: uppercase;
    @media only screen and (max-width: 768px) and (min-width: 481px) {
      font-size: 20px;
      margin: 60px 0 10px;
      font-weight: 700;
    }
    @media only screen and (min-width: 769px) {
      margin: 5% 0 10px;
      font-weight: 900;
    }
  }
  .shadesWrapper {
    .selected {
      transform: scale(1.5);
      transition: transform 0.5s;
    }
  }
  .shade {
    span {
      display: inline-block;
      height: 100%;
      width: 100%;
    }
    .tickIcon {
      background-size: 50%;
      background-image: url(./../../assets/tickIcon.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  .shadesHeader {
    line-height: 2em;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .shadesHeader .title {
    -webkit-order: 1;
    -moz-order: 1;
    -ms-order: 1;
    order: 1;
  }
  .shadesHeader:after {
    content: "";
    margin: 0px 0px 0 4px;
    background: -webkit-radial-gradient(50% 50%, circle, #EBDBFF 36%, transparent 0%);
    background: -moz-radial-gradient(50% 50%, circle, #EBDBFF 36%, transparent 0%);
    background: radial-gradient(circle at 50% 50%, #EBDBFF 36%, transparent 0%);
    background-size: 7% 50%;
    background-position: 0 0.5em;
    background-repeat: repeat-x;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-order: 2;
    order: 2;
    @media only screen and (max-width: 768px) and (min-width: 481px) {
      background-size: 2% 10%;
      background-position: 0 1em;
    }
    @media only screen and (min-width: 769px) {
      background-size: 1% 49%;
    }
  }
  .shade {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 15px;
    box-shadow: 0px 5px 25px -5px;
    @media only screen and (max-width: 768px) and (min-width: 481px) {
      width: 40px;
      height: 40px;
      margin: 22px;
      box-shadow: 0px 5px 50px -10px;
    }
    @media only screen and (min-width: 769px) {
      margin: 22px 10.4%;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}